.Banner__ourCompanies {
  background: #fbfbfb;
  position: relative;
  overflow: hidden;
}

.Banner__ourCompanies__title {
  height: 70rem;
  display: flex;
  align-items: center;
}

.Banner__ourCompanies__bg {
  background: url(../../../../images/our-companies-bg.png) no-repeat center bottom/contain;
  height: 70rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.Banner__ourCompanies .leti-red-triangle,
.Banner__ourCompanies .leti-blue-triangle {
  position: absolute;
  z-index: 0;
  transform: rotate(0);
}

.Banner__ourCompanies .leti-red-triangle {
  background: url(../../../../images/triangulo-rojo-stroke.svg) no-repeat center center/contain;
  width: 75rem;
  height: 75rem;
  right: -8rem;
  top: 0rem;
}

.Banner__ourCompanies .leti-blue-triangle {
  background: url(../../../../images/triangulo-azul-stroke.svg) no-repeat center center/contain;
  width: 55rem;
  height: 55rem;
  right: 5rem;
  top: 15rem;
}

@media (max-width: 576px) {
  .Banner__title {
    height: 70rem;
    align-items: flex-start;
  }
  .Banner__title h1 {
    margin-top: 3rem;
  }
  .Banner__bg {
    background: url(../../../../images/about-us-bg.png) no-repeat 8rem bottom/contain;
    background-size: 115%;
  }
  .Banner .leti-red-triangle {
    width: 35rem;
    height: 35rem;
    right: -5%;
    top: 30%;
  }
  .Banner .leti-blue-triangle {
    width: 35rem;
    height: 35rem;
    right: -25%;
    top: 55%;
  }
}
