.NewsPage__hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 45rem;
  text-decoration: none;
}

.NewsPage__container {
  color: #fff;
  text-shadow: 0 0 3.2rem black;
}

.NewsPage__container span {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.NewsPage__lastest {
  padding: 10rem 0 0 0;
}

.NewsPage__lastest h1 {
  margin-bottom: 6rem;
}

.NewsPage__card {
  border: 0;
}

.NewsPage__card .card-time {
  font-size: 1.6rem;
  color: #737b7f;
}

.NewsPage__card .card-title {
  font-family: 'TripletaBold';
  margin-bottom: 3rem;
  font-size: 2.6rem;
}

.NewsPage__card .card-subtitle {
  font-size: 1.8rem;
}

.NewsPage__card .card-footer {
  background: none;
  border: 0;
}

.NewsPage__card .card-footer .leti-btn {
  background: url(../../../images/plus.svg) no-repeat center/2.4rem;
  height: 5rem;
}

.NewsPage__card .card-footer .leti-btn:hover {
  background: #055aa5 url(../../../images/plus-white.svg) no-repeat center/2.4rem;
}
