@import '../../../stylesheets/variables';

.NewsPage {
  &__card {
    border: 0;

    .card-time {
      font-size: 1.4rem;
      color: $leti-nav;
    }

    .card-title {
      font-family: 'TripletaBold';
      margin-bottom: 0;
      font-size: 2.6rem;
      padding-right: 10rem;
    }

    .card-subtitle {
      font-size: 1.6rem;
      margin-top: 1rem;
    }

    .card-footer {
      background: none;
      border: 0;

      .leti-btn {
        background: url(../../../images/plus.svg) no-repeat center / 2.4rem;
        height: 5rem;
        width: 5rem;

        &:hover {
          background: $leti-blue url(../../../images/plus-white.svg) no-repeat
            center / 2.4rem;
        }
      }
    }
  }
}
