@import '../../../stylesheets/variables';

.NewsPage {
  &__hero {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 45rem;
    text-decoration: none;
  }

  &__container {
    color: $leti-white;
    text-shadow: 0 0 3.2rem rgba($leti-black, 1);
  }

  &__lastest {
    padding: 10rem 0;
  }
}
