@import '../../../../stylesheets/variables';

.Careers {
  strong {
    color: $leti-blue;
    font-weight: unset;
  }
}

@media (max-width: 576px) {
  .Careers {
    padding: 2rem;
    font-size: 1.6rem;

    .leti-btn {
      margin: 2rem 0;
    }
  }
}
