@import '../../../stylesheets/variables';

.NewsSingle {
  &__Banner {
    color: $leti-white;
    height: 45rem;
    display: flex;
    align-items: center;

    &__container {
      color: $leti-white;
      text-shadow: 0 0 3.2rem rgba($leti-black, 1);

      span {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
    }
  }

  &__content {
    margin: 10rem auto 16rem auto;
    color: $leti-nav;
    line-height: 3.6rem;
    position: relative;

    &-desc {
      position: relative;
    }
  }

  &__rrss {
    position: absolute;
    top: 0.8rem;
    left: 4rem;

    .facebook,
    .whatsapp,
    .linkedin {
      display: block;
      width: 3rem;
      height: 3rem;
      margin-bottom: 2rem;
    }

    .facebook {
      background: url(../../../images/facebook-single.svg) no-repeat center /
        cover;
    }

    .whatsapp {
      background: url(../../../images/whatsapp-single.svg) no-repeat center /
        cover;
    }

    .linkedin {
      background: url(../../../images/linkedin-single.svg) no-repeat center /
        cover;
    }

    &-bottom {
      bottom: -12rem;
      right: 0;
      top: unset;
      left: unset;

      .facebook,
      .whatsapp,
      .linkedin {
        display: inline-block;
        margin-right: 2rem;
      }
    }
  }

  &__related {
    margin-bottom: 10rem;
    h1 {
      margin-bottom: 6rem;
    }
  }
}

@media (max-width: 576px) {
  .NewsSingle {
    &__content {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    &__related {
      margin-bottom: 0rem;
      h1 {
        margin-bottom: 6rem;
        padding: 0 2rem;
      }

      .card-body {
        padding: 2rem;
      }

      .card-footer {
        padding: 0 2rem;

        .leti-btn {
          margin-bottom: 4rem;
        }
      }
    }

    &__rrss {
      position: absolute;
      top: -5.2rem;
      left: unset;
      right: 2rem;
      display: flex;

      &:before {
          content: 'Comparte:';
          color: $leti-blue;
          margin-right: 2rem;
          font-weight: 600;
          top: 0;
      }

      .facebook,
      .whatsapp,
      .linkedin {
        display: inline-block;
        margin-right: 1.6rem;
      }

      &-bottom {
        bottom: -12rem;
        right: 0;
        top: unset;
        left: unset;

        .facebook,
        .whatsapp,
        .linkedin {
          margin-right: 1.6rem;
        }
      }
    }
  }
}
