@import '../../../../stylesheets/variables';
@import 'Arrows';

.Timeline {
  position: relative;
  padding: 0;

  &__image {
    height: 65rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $leti-back;
  }

  &__year {
    font-family: 'Tripleta';
    font-size: 13rem;
    color: $leti-blue;
    display: block;
    margin-top: 12rem;
  }

  &__desc {
    padding: 2rem 0 2rem 4rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .slick-next,
  .slick-prev {
    width: 4rem;
    height: 4rem;
    display: block;
    z-index: 4;
    opacity: 0.4;
    transition: all 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
    }
  }

  .slick-next {
    background: url(../../../../images/next-arrow.svg) no-repeat center center /
      contain;
  }

  .slick-prev {
    background: url(../../../../images/prev-arrow.svg) no-repeat center center /
      contain;
  }
}
