@import '../../../stylesheets/variables';

.Search {
  position: fixed;
  left: 0;
  top: 0rem;
  width: 100%;
  background: $leti-back;
  z-index: 2;
  height: 0;
  display: flex;
  transition: all 300ms ease-in-out;

  &.show {
    top: 18rem;
    height: 17rem;

    &.thin {
      top: 10rem;
    }
  }

  &__form {
    width: 100%;
    &-input {
      border-radius: 0;
      border: 0;
      border-bottom: solid 0.1rem $leti-text;
      font-size: 2.8rem;
      background: url(../../../images/input-search.svg) no-repeat 1rem 0rem;
      background-size: 3rem;
      padding-left: 5rem;
      padding-bottom: 2rem;
      width: 100%;

      &:focus {
        background-color: transparent;
        outline: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .Search {
    &.show {
      top: 10rem;
      height: 10rem;

      &.thin {
        top: 5rem;
      }
    }

    &__form {
      &-input {
        background-position: 1rem 0.5rem;
        background-size: 2.4rem;
        font-size: 1.6rem;
      }
    }
  }
}
