@import '../../../../stylesheets/variables';

.Unidades {
  margin: 20rem auto 10rem auto;
  position: relative;

  .big-gray-triangle,
  .small-gray-triangle {
    position: absolute;
    opacity: 0.4;
    z-index: -1;
  }

  .big-gray-triangle {
    background: url(../../../../images/big-grey.svg) no-repeat center center /
      contain;
    width: 70rem;
    height: 70rem;
    right: -10rem;
    top: -15rem;
  }

  .small-gray-triangle {
    background: url(../../../../images/small-grey.svg) no-repeat center center /
      contain;
    width: 50rem;
    height: 55rem;
    right: 27rem;
  }

  &__row {
    margin: 8rem 0;
  }

  &__logo {
    min-height: 40rem;
    background-size: 30rem 10rem !important;
  }

  &__desc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
    flex-direction: column;

    &__right {
      text-align: right;
      align-items: flex-end;
    }
  }

  &__square-btn {
    background: url(../../../../images/plus.svg) no-repeat center center /
      contain;
    width: 6.5rem;
    height: 6.5rem;
    border: solid 0.15rem $leti-blue;
    background-size: 3rem;
    margin-top: 3rem;
    transition: all 200ms ease-in-out;

    &:hover {
      background: $leti-blue url(../../../../images/plus-white.svg) no-repeat
        center center / contain;
      background-size: 3rem;
    }
  }

  &__logos {
    .Unidades__row {
      &:nth-child(5) {
        .Unidades__logo {
          background-size: 45rem 30rem !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Unidades {
    margin: 0;
    margin-top: 20rem;

    .big-gray-triangle,
    .small-gray-triangle {
      display: none;
    }

    &__row {
      margin: 4rem 0;
    }

    &__desc {
      font-size: 1.6rem;
      margin-top: 1rem;
    }

    &__logo {
      min-height: 18rem;
      background-size: 15rem !important;
    }
  }
}
