@import '../../../../../stylesheets/variables';

.EditNewsTags {
  &-delete {
    &-tags {
      font-size: 1.6rem;
      margin-bottom: 2rem;

      &:nth-child(n+6) {
        margin-bottom: 0; 
    }

      &:before {
        content: 'x';
        font-size: 1.6rem;
        color: $leti-red;
        margin-right: 0.5rem;
      }

      &:hover {
        cursor: pointer;
        color: $leti-red;
      }
    }
  }
}
