.Video {
  height: 70rem;
  background: url(../../../../images/video-bg.png) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .Video {
    height: 30rem;
  }
}
