@import '../../../../stylesheets/variables';

.Video {
  background: url(../../../../images/video-hero.jpg) no-repeat center center /
    cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  video {
    width: 100%;
  }
}
