.Video {
  background: url(../../../../images/video-bg.png) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 108rem;
}

@media (max-width: 576px) {
  .Video {
    padding: 0;
    min-height: 20rem;
  }
  .Video video {
    width: 100%;
  }
}
