@import '../../../../stylesheets/variables';

.Productos {
  padding: 20rem 0 10rem 0;
  position: relative;

  [class*='__genven'] {
    position: absolute;
  }

  &__genven {
    &-001 {
      width: 37rem;
      height: 42rem;
      top: 12rem;
      right: 3rem;
      transform: rotate(0deg);
    }

    &-002 {
      width: 52rem;
      height: 23.5rem;
      top: 54rem;
      right: -15rem;
      transform: rotate(0deg);
      z-index: 1;
    }

    &-003 {
      width: 40rem;
      height: 37.5rem;
      top: -6rem;
      right: -20rem;
      transform: rotate(0deg);
      z-index: -1;
    }
  }

  &__desc {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: right;

    strong {
      color: $leti-blue;
    }
  }

  .leti-btn {
    margin-top: 3rem;
    float: right;
  }
}

@media (max-width: 576px) {
  .Productos {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    background: url(../../../../images/productos-resp-bg.png) no-repeat right
      bottom / contain;
      height: 86rem;

  [class*='__genven'] {
    display: none;
  }

    .row {
      justify-content: center;
      background: $leti-white;
      padding-bottom: 3rem;
    padding-top: 6rem;
    }

    &__info {
      font-size: 1.6rem;
    }

  .leti-btn {
    margin-top: 0rem;
  }
  }
}
