@import '../../../../../stylesheets/variables';

.EditVideo {
  .is-message {
    color: $leti-blue;
    font-size: 1.8rem;
  }

  .video-link {
    color: $leti-red;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      background: url(../../../../../images/triangulo-rojo.svg) no-repeat center / 1.6rem;
      width: 3.2rem;
      height: 3.2rem;
      display: inline-flex;
      margin-left: 1rem;
      transform: rotate(180deg);
      border: solid 0.2rem $leti-red;
      border-radius: 3rem;
    }
  }
}
