:root {
  --section-padding: 18rem;
}

.Nosotros {
  position: relative;
  margin: 10rem auto 30rem auto;
}

.Nosotros__valor {
  margin: 6rem 0;
  line-height: 3.8rem;
}

.Nosotros .leti-red-triangle {
  background: url(../../../../images/triangulo-rojo-stroke.svg) no-repeat center center/contain;
  width: 65rem;
  height: 65rem;
  position: absolute;
  right: -40rem;
  bottom: calc(var(--section-padding) * -1);
  transform: rotate(50deg);
}

.Nosotros .leti-blue-triangle {
  background: url(../../../../images/triangulo-azul-stroke.svg) no-repeat center center/contain;
  width: 50rem;
  height: 50rem;
  position: absolute;
  bottom: calc(var(--section-padding) * -1);
  right: 0;
  transform: rotate(-150deg);
}

@media (max-width: 576px) {
  .Nosotros {
    margin: 0rem auto 45rem auto;
    font-size: 2rem;
  }
  .Nosotros .row {
    justify-content: center;
  }
  .Nosotros .leti-red-triangle {
    right: -5rem;
  }
  .Nosotros .leti-blue-triangle,
  .Nosotros .leti-red-triangle {
    top: 50rem;
    z-index: -1;
  }
}
