:root {
  --section-padding: 18rem;
}

.Nosotros {
  position: relative;
  margin: 10rem auto 15rem auto;
}
.Nosotros__valor {
  margin: 6rem 0;
  line-height: 3.8rem;
}
.Nosotros__valor strong {
  color: #055aa5;
}
.Nosotros .leti-counter {
  position: absolute;
  top: 6rem;
  right: 30rem;
}
.Nosotros .leti-counter .value {
  font-size: 16rem;
  font-weight: bold;
  display: inline;
}
.Nosotros .leti-btn {
  background: #fff;
}
.Nosotros .leti-btn:hover {
  background: #055aa5;
}
.Nosotros .leti-red-triangle {
  background: url(../../../../images/triangulo-rojo-stroke.svg) no-repeat center center/contain;
  width: 65rem;
  height: 65rem;
  position: absolute;
  right: -40rem;
  bottom: calc(var(--section-padding) * -1);
  transform: rotate(50deg);
}
.Nosotros .leti-blue-triangle {
  background: url(../../../../images/triangulo-azul-stroke.svg) no-repeat center center/contain;
  width: 50rem;
  height: 50rem;
  position: absolute;
  bottom: calc(var(--section-padding) * -1);
  right: 0;
  transform: rotate(-150deg);
}

@media (max-width: 576px) {
  .Nosotros {
    margin: 0rem auto 20rem auto;
    font-size: 2rem;
  }
  .Nosotros .row {
    justify-content: center;
  }
  .Nosotros .leti-red-triangle {
    width: 30rem;
    height: 30rem;
    right: -5rem;
  }
  .Nosotros .leti-blue-triangle {
    width: 25rem;
    height: 25rem;
    right: 0;
  }
  .Nosotros .leti-blue-triangle,
.Nosotros .leti-red-triangle {
    top: 55rem;
    z-index: -1;
  }
  .Nosotros [class*=css-] {
    z-index: -1;
  }
}