@import '../../../../stylesheets/variables';

.NewsPage {
  &__most {
    h1 {
      margin: 10rem 0 6rem 0;
    }

    &-hero {
      .card-body,
      .card-footer {
        padding-left: 30%;
      }
    }

    &-resume {
      .card {
        border-bottom: solid 0.1rem rgba($leti-text, 0.1);
        padding-bottom: 3rem;
        margin-bottom: 3rem;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .NewsPage {
    &__most {
      .container {
        padding: 0;
      }
      h1 {
        margin: 3rem 2rem;
      }
      &-hero {
        border-bottom: solid 0.1rem rgba($leti-text, 0.1);
        .card-body,
        .card-footer {
          padding: 0 2rem;
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
      }

      &-resume {
        padding: 0 2rem;

        .card {
          padding-bottom: 1rem;
          margin-bottom: 1rem;

          &:last-child {
            border-bottom: solid 0.1rem rgba($leti-text, 0.1);
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}
