.NewsPage__most h1 {
  margin: 10rem 0 6rem 0;
}

.NewsPage__most-hero .card-body,
.NewsPage__most-hero .card-footer {
  padding-left: 30%;
}

.NewsPage__most-resume .card {
  border-bottom: solid 0.1rem rgba(74, 74, 74, 0.1);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.NewsPage__most-resume .card:last-child {
  border-bottom: none;
}
