@import '../../../../stylesheets/variables';

.FarmacoVigilancia {
  margin-bottom: 10rem;

  &__especialistas,
  &__espacio {
    min-height: 50rem;
    color: $leti-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'TripletaBold';
    line-height: 3.8rem;
  }

  &__especialistas {
    background: url(../../../../images/especialistas.png) no-repeat center
      center / cover;
  }

  &__espacio {
    background: url(../../../../images/espacio.png) no-repeat center center /
      cover;
  }

  &__info {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
  }

  &__texto {
    font-size: 2rem;
    color: #737b7f;
    text-align: right;

    strong {
      color: $leti-text;
    }
  }

  &__form {
    margin-bottom: 10rem;

    .leti-btn {
      margin-top: 1rem;
      margin-left: 3rem;
    }
  }
}

@media (max-width: 576px) {
  .FarmacoVigilancia {
    margin: 0;

    &__especialistas,
    &__espacio {
      min-height: 30rem;
    }

    &__texto {
      margin: 2rem 0;
      text-align: left;
    }

    &__form {
      margin-bottom: 5rem;

      .leti-btn {
        margin-left: 0;
      }
    }
  }
}
