.EditContent {
  border: solid 0.1rem #e9eaee;
  margin: 4rem 0;
  padding: 3rem 2.4rem;
  position: relative;
}

.EditContent h2 {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  position: absolute;
  top: -1.4rem;
  left: 1rem;
  background: #fff;
  padding: 0rem 1rem;
  color: #055aa5;
  font-size: 2rem;
}

.AdminEdit__form__label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.AdminEdit__form-leti-btn {
  background: transparent;
  padding: 1.4rem 3.2rem;
}

.AdminEdit__form .tox-tinymce {
  border: 1px solid #737b7f;
}

.AdminEdit__form .tox .tox-statusbar {
  display: none;
}

.AdminEdit__form .form-group {
  margin-top: 0;
}

.AdminEdit__form .form-group .form-control {
  height: 5.5rem;
  border-radius: 0;
  border-color: #737b7f;
  margin-bottom: 5rem;
}
