@import '../../../stylesheets/variables';

.SingleProductPage {
  &__back {
    color: $leti-blue;
    font-size: 2rem;
    display: inherit;
    margin: 8rem auto 12rem auto;

    &:before {
      content: '';
      width: 3.6rem;
      height: 3.6rem;
      background: url(../../../images/back-to-prod.svg) no-repeat center center /
        contain;
      display: inline;
      margin-right: 1rem;
    }
  }

  &__product {
    border-bottom: solid 0.1rem rgba($leti-nav, 0.4);
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }

  &__info {
    h2 {
      margin-bottom: 3rem;
    }

    span {
      background: $leti-blue;
      color: $leti-white;
      padding: 0.8rem 2.4rem;
      display: inline-block;
      margin-bottom: 3rem;
      text-transform: capitalize;
      margin-right: 2rem;
    }

    p {
      color: $leti-nav;

      strong {
        color: $leti-text;
      }
    }
  }

  &__posology {
    ul {
      padding: 0;
      list-style: none;
    }
  }

  &__another {
    h1 {
      margin: 10rem 0 6rem 0;
    }
  }
}
