.SingleProductPage__pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SingleProductPage__back {
  color: #055aa5;
  font-size: 2rem;
  display: inherit;
  margin: 8rem auto;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
}

.SingleProductPage__back a {
  color: #055aa5;
  text-decoration: none;
}

.SingleProductPage__back:hover {
  margin-left: -1rem;
}

.SingleProductPage__back:before {
  content: '';
  width: 3.6rem;
  height: 3.6rem;
  background: url(../../../images/back-to-prod.svg) no-repeat center center/contain;
  display: inline;
  margin-right: 1rem;
}

.SingleProductPage__product {
  border-bottom: solid 0.1rem rgba(115, 123, 127, 0.4);
  padding-bottom: 6rem;
  margin-bottom: 6rem;
}

.SingleProductPage__product .row {
  display: flex !important;
}

.SingleProductPage__info {
  font-size: 1.8rem;
}

.SingleProductPage__info h2 {
  margin-bottom: 3rem;
}

.SingleProductPage__info .tag {
  background: #055aa5;
  color: #fff;
  padding: 0.4rem 2rem;
  display: inline-block;
  margin-bottom: 3rem;
  text-transform: capitalize;
  margin-right: 2rem;
  font-size: 1.8rem;
}

.SingleProductPage__info p {
  color: #737b7f;
}

.SingleProductPage__info p strong {
  color: #4a4a4a;
}

.SingleProductPage__posology strong {
  font-family: 'TripletaBold';
  font-size: 2.1rem;
}

.SingleProductPage__posology ul {
  padding: 0;
  list-style: none;
}

.SingleProductPage__posology ul li {
  font-size: 2rem;
}

.SingleProductPage__posology.wborder {
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: solid 0.1rem rgba(115, 123, 127, 0.4);
}

.SingleProductPage__another {
  margin-bottom: 10rem;
}

.SingleProductPage__another h1 {
  margin: 10rem 0 6rem 0;
}

.SingleProductPage__another__principle {
  font-size: 2rem;
  color: #737b7f;
}

.SingleProductPage__another__img {
  border-bottom: solid 0.1rem rgba(115, 123, 127, 0.4);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  height: 3rem;
  display: block;
  width: 100%;
}

.SingleProductPage__another__img-txt {
  padding-bottom: 1rem;
  display: block;
  height: auto;
  font-size: 3rem !important;
  font-style: italic;
  color: #055aa5;
}

.SingleProductPage__another__img-txt sup {
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
}

.SingleProductPage__another__block {
  display: flex;
  flex-direction: column;
}

.SingleProductPage__another__block h2 {
  font-size: 2.4rem;
}

.SingleProductPage .slick-next,
.SingleProductPage .slick-prev {
  width: 4rem;
  height: 4rem;
  z-index: 4;
  opacity: 0.4;
  transition: all 200ms ease-in-out;
  position: absolute;
  top: 28%;
}

.SingleProductPage .slick-next:before,
.SingleProductPage .slick-prev:before {
  display: none;
}

.SingleProductPage .slick-next:hover,
.SingleProductPage .slick-prev:hover {
  opacity: 1;
}

.SingleProductPage .slick-next {
  background: url(../../../images/next-arrow.svg) no-repeat center center/contain;
}

.SingleProductPage .slick-prev {
  background: url(../../../images/prev-arrow.svg) no-repeat center center/contain;
}

.SingleProductPage__cpe {
  opacity: 0.7;
}

.SingleProductPage__cb {
  width: 40%;
}

@media (max-width: 576px) {
  .SingleProductPage__pic {
    margin-bottom: 0;
    height: 20rem;
  }
  .SingleProductPage__product {
    padding-bottom: 0rem;
    margin-bottom: 3rem;
  }
  .SingleProductPage__back {
    margin: 2rem auto 2rem auto;
  }
  .SingleProductPage__info {
    padding: 2rem;
    font-size: 1.8rem;
  }
  .SingleProductPage__posology {
    padding: 0 2rem;
  }
  .SingleProductPage__posology ul li {
    font-size: 1.6rem;
  }
  .SingleProductPage__posology strong {
    font-size: 1.6rem;
  }
  .SingleProductPage__posology h2 {
    font-size: 1.8rem;
  }
  .SingleProductPage__posology.wborder {
    margin-top: 2rem;
    padding-top: 2rem;
  }
  .SingleProductPage__another {
    margin-bottom: 0;
  }
  .SingleProductPage__another h1 {
    margin: 5rem 0 3rem 0;
    padding: 0 2rem;
  }
  .SingleProductPage__another__img {
    padding-bottom: 6rem;
  }
  .SingleProductPage__another__img-txt {
    padding-bottom: 2rem;
  }
  .SingleProductPage__another__block {
    display: block;
    margin-bottom: 3rem;
    padding: 2rem;
  }
  .SingleProductPage .slick-next,
  .SingleProductPage .slick-prev {
    top: 3%;
  }
  .SingleProductPage .slick-next {
    right: 2rem;
  }
  .SingleProductPage .slick-prev {
    left: 2rem;
  }
  .SingleProductPage__cb {
    width: 80%;
  }
}
