@import '../../../stylesheets/variables';

.SingleProductPage {
  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__back {
    color: $leti-blue;
    font-size: 2rem;
    display: inherit;
    margin: 8rem auto;
    transition: all 0.3s ease-in-out;
    margin-left: 0;

    a {
      color: $leti-blue;
      text-decoration: none;
    }

    &:hover {
      margin-left: -1rem;
    }

    &:before {
      content: '';
      width: 3.6rem;
      height: 3.6rem;
      background: url(../../../images/back-to-prod.svg) no-repeat center center /
        contain;
      display: inline;
      margin-right: 1rem;
    }
  }

  &__product {
    border-bottom: solid 0.1rem rgba($leti-nav, 0.4);
    padding-bottom: 6rem;
    margin-bottom: 6rem;

    .row {
      display: flex !important;
    }
  }

  &__info {
    font-size: 1.8rem;
    h2 {
      margin-bottom: 3rem;
    }

    span {
      background: $leti-blue;
      color: $leti-white;
      padding: 0.4rem 2rem;
      display: inline-block;
      margin-bottom: 3rem;
      text-transform: capitalize;
      margin-right: 2rem;
      font-size: 1.8rem;
    }

    p {
      color: $leti-nav;

      strong {
        color: $leti-text;
      }
    }
  }

  &__posology {
    strong {
      font-family: 'TripletaBold';
      font-size: 2.1rem;
    }
    ul {
      padding: 0;
      list-style: none;

      li {
        font-size: 2rem;
      }
    }

    &.wborder {
      margin-top: 5rem;
      padding-top: 5rem;
      border-top: solid 0.1rem rgba($leti-nav, 0.4)
    }
  }

  &__another {
    margin-bottom: 10rem;
    h1 {
      margin: 10rem 0 6rem 0;
    }

    &__principle {
      font-size: 2rem;
      color: $leti-nav;
    }

    &__img {
      border-bottom: solid 0.1rem rgba($leti-nav, 0.4);
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      height: 3rem;
      display: block;
      width: 100%;

      &-txt {
        padding-bottom: 1rem;
        display: block;
        height: auto;
        font-size: 3rem !important;
        font-style: italic;
        color: $leti-blue;
        
        sup {
          font-family: 'Mulish', sans-serif;
          font-size: 2rem;
        }
      }
    }

    &__block {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 2.4rem;
      }
    }
  }

  .slick-next,
  .slick-prev {
    width: 4rem;
    height: 4rem;
    z-index: 4;
    opacity: 0.4;
    transition: all 200ms ease-in-out;
    position: absolute;
    top: 28%;

    &:before {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slick-next {
    background: url(../../../images/next-arrow.svg) no-repeat center center /
      contain;
  }

  .slick-prev {
    background: url(../../../images/prev-arrow.svg) no-repeat center center /
      contain;
  }

  &__cpe {
    opacity: 0.7;
  }

  &__cb {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .SingleProductPage {
    &__pic {
      margin-bottom: 0;
      height: 20rem;
    }

    &__product {
      padding-bottom: 0rem;
      margin-bottom: 3rem;
    }

    &__back {
      margin: 2rem auto 2rem auto;
    }

    &__info {
      padding: 2rem;
      font-size: 1.8rem;
    }

    &__posology {
      padding: 0 2rem;
      ul {
        li {
          font-size: 1.6rem;
        }
      }

      strong {
        font-size: 1.6rem;
      }

      h2 {
        font-size: 1.8rem;
      }

      &.wborder {
        margin-top: 2rem;
        padding-top: 2rem;
      }
    }

    &__another {
      margin-bottom: 0;

      h1 {
        margin: 5rem 0 3rem 0;
        padding: 0 2rem;
      }

      &__img {
        padding-bottom: 6rem;

        &-txt {
          padding-bottom: 2rem;
        }
      }

      &__block {
        display: block;
        margin-bottom: 3rem;
        padding: 2rem;
      }
    }

    .slick-next,
    .slick-prev {
      top: 3%;
    }

    .slick-next {
      right: 2rem;
    }

    .slick-prev {
      left: 2rem;
    }

    &__cb {
      width: 80%;
    }
  }
}
