.SingleProductPage__back {
  color: #055aa5;
  font-size: 2rem;
  display: inherit;
  margin: 8rem auto 12rem auto;
}

.SingleProductPage__back:before {
  content: '';
  width: 3.6rem;
  height: 3.6rem;
  background: url(../../../images/back-to-prod.svg) no-repeat center center/contain;
  display: inline;
  margin-right: 1rem;
}

.SingleProductPage__product {
  border-bottom: solid 0.1rem rgba(115, 123, 127, 0.4);
  padding-bottom: 6rem;
  margin-bottom: 6rem;
}

.SingleProductPage__info h2 {
  margin-bottom: 3rem;
}

.SingleProductPage__info span {
  background: #055aa5;
  color: #fff;
  padding: 0.4rem 2rem;
  display: inline-block;
  margin-bottom: 3rem;
  text-transform: capitalize;
  margin-right: 2rem;
  font-size: 1.8rem;
}

.SingleProductPage__info p {
  color: #737b7f;
}

.SingleProductPage__info p strong {
  color: #4a4a4a;
}

.SingleProductPage__posology ul {
  padding: 0;
  list-style: none;
}

.SingleProductPage__posology ul li {
  font-size: 2rem;
}

.SingleProductPage__another h1 {
  margin: 10rem 0 6rem 0;
}
