@import '../../../stylesheets/variables';

.AdminEditPage {
  border-top: solid 0.1rem $leti-subnav;

  &__NavContent {
    border-right: solid 0.1rem $leti-subnav;
  }

  &__Content {
    padding: 2rem;
  }
}

.EditContent {
  border: solid 0.1rem $leti-blue;
  margin: 4rem 0;
  padding: 3rem 2.4rem;
  position: relative;

  &__boldtitle {
    font-family: 'Tripleta', sans-serif;
    color: $leti-text;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    background: $leti-back;
    padding: 2rem;
    text-align: center;

    p {
      text-align: left;
      line-height: 2.8rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 400;
    border: 0;
    margin: 0;
    margin-left: 2rem;
    font-family: 'Mulish', sans-serif;
    color: $leti-blue;
    position: relative;
    display: flex;
    align-items: center;
    background: $leti-white;
    padding-left: 3rem;

    &:before {
      content: '';
      display: inline-block;
      width: 5rem;
      height: 5rem;
      background: url('../../../images/title-icon.svg') no-repeat center center /
        contain;
      margin-right: 1rem;
      position: absolute;
      z-index: 0;
      left: 0;
    }
  }

  h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    position: absolute;
    top: -1.4rem;
    left: 1rem;
    background: $leti-white;
    padding: 0rem 1rem;
    color: $leti-blue;
    font-size: 2rem;
  }

  h3 {
    color: $leti-red;
    font-size: 2rem;
  }
}

.AdminEdit {
  &__form {
    h3 {
      color: $leti-red;
      font-family: 'Tripleta', sans-serif;
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 600;
      color: $leti-blue;
    }

    &__label {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: 600;
      color: $leti-nav;

      strong {
        color: $leti-blue;
      }
    }

    &-leti-btn {
      background: transparent;
      padding: 1.4rem 3.2rem;
    }

    .tox-tinymce {
      border: 1px solid $leti-nav;
    }

    .tox .tox-statusbar {
      display: none;
    }

    .form-group {
      margin-top: 0;

      .form-control {
        height: 5.5rem;
        border-radius: 0;
        border-color: $leti-nav;
        margin-bottom: 5rem;
      }
    }
  }

  &__message {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.4rem;
    color: $leti-blue;
  }
}
