$leti-nav: #737b7f;
$leti-red: #cd202f;
$leti-text: #4a4a4a;
$leti-blue: #055aa5;
$leti-white: #fff;
$leti-black: #000;
$leti-back: #f5f5f5;
$leti-back-dark: #ecedf0;
$leti-subnav: #e9eaee;
$leti-dots: #abadb2;