@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");
@font-face {
  font-family: 'Tripleta';
  src: url("../fonts/tripleta-light.otf") format("otf");
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  line-height: 3rem;
  color: #4a4a4a;
  font-family: 'Mulish', sans-serif;
}

.blue-text {
  color: #055aa5;
}

h1 {
  font-family: 'Tripleta';
}

.leti-btn {
  color: #055aa5;
  border: solid 0.1rem #055aa5;
  font-weight: 400;
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.4rem;
}

/* --- SMOOTHER YAY! --- */
.parallax {
  transition: transform 10s cubic-bezier(0, 1, 0.5, 1);
  transform: rotate(-150deg);
}
