@import '../../../../stylesheets/variables.scss';

.Director {
  background: $leti-back;
  margin-top: 45rem;
  position: relative;

  &__image {
    height: 61rem;
    padding: 0;
    position: absolute;
    left: 0;
    top: -35rem;
  }

  &__info {
    font-size: 2.4rem;
    padding: 8rem 0 10rem 0;
    position: relative;

    h1 {
      position: absolute;
      left: 3rem;
      font-size: 5rem;
      top: -20rem;
    }

    p, small {
      padding-left: 3rem;
    }

    p {
      margin-bottom: 0rem;
      position: relative;

      &:before, &:after {
        content: '"';
        font-size: 3rem;
      }
    }

    small {
      margin-bottom: 3rem;
      display: block;
      font-size: 1.6rem;
      font-style: italic;

      &:before {
        content: '- ';
      }
    }

    .leti-btn {
      margin-left: 3rem;
    }
  }
}

@media (max-width: 576px) {
  .Director {
    margin-top: 0rem;

    &__image {
      height: 35rem;
      position: static;
    }

    &__info {
      font-size: 1.6rem;
      padding: 4rem 2rem;

      h1 {
        position: static;
        font-size: 3.6rem;
      }

      p {
        width: unset;
        padding: 0;
      }

      .leti-btn {
        margin-left: 0;
      }
    }
  }
}
