@charset "UTF-8";
:root {
  --leti-nav: #737b7f;
  --leti-red: #cd202f;
  --leti-text: #4a4a4a;
  --leti-blue: #055aa5;
  --leti-white: #fff;
  --leti-back: #f5f5f5;
}

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}
.Carousel {
  margin: 10rem 0;
}

.Carousel__image {
  height: 27rem;
}

.Carousel__desc {
  text-align: center;
}

.Carousel .slick-next,
.Carousel .slick-prev {
  width: 4rem;
  height: 4rem;
  display: block;
  z-index: 4;
}

.Carousel .slick-next:before,
.Carousel .slick-prev:before {
  content: '';
}

.Carousel .slick-next {
  background: url(../../../../images/next-arrow.svg) no-repeat center center/contain;
  transform: translate(-80rem, 15.5rem);
}

.Carousel .slick-prev {
  background: url(../../../../images/prev-arrow.svg) no-repeat center center/contain;
  transform: translate(80rem, 15.5rem);
}

.Carousel .slick-slide:not(.slick-current) h3 {
  display: none;
}

.Carousel .slick-dots {
  bottom: -6rem;
}

.Carousel .slick-dots:before {
  content: '';
  display: inline-block;
  width: 20rem;
  border-top: solid 0.1px #4a4a4a;
  position: absolute;
  left: 50%;
  margin-left: -10rem;
}

.Carousel .slick-dots .slick-active button {
  width: 2rem;
  height: 2rem;
  border: solid 0.1rem var(--leti-text);
  border-radius: 4rem;
  opacity: 0.7;
}

@media (max-width: 576px) {
  .Carousel .slick-next {
    transform: translate(-5rem, 17rem);
  }
  .Carousel .slick-prev {
    transform: translate(5rem, 17rem);
  }
}
