@import '../../../stylesheets/variables';

input {
  overflow: hidden;
}

.custom-file-input {
  display: block;
  background: $leti-white;
  font-size: 1.6rem;
  border: solid 0.1rem $leti-text;
  height: 5.5rem;
  margin-bottom: 2rem;
  width: 100%;


  &::-webkit-file-upload-button {
    display: none;
  }

  &:before {
    content: 'Selecciona una imagen';
    display: inline-flex;
    align-content: center;
    padding: 0 2rem;
    padding-top: 0.6rem;
    background: $leti-blue;
    border: 0;
    height: 5.5rem;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: $leti-white;
    margin-right: 1rem;
    padding-top: 1rem;
  }

  &.video {
    &:before {
      content: 'Selecciona un video';
    }
  }
}
