@import '../../stylesheets/variables';

.Header {
  position: fixed;
  top: 0;
  background: $leti-white;
  z-index: 5;
  width: 100%;

  &__logo {
    position: relative;
    .navbar-brand {
      background: url(../../images/leti.svg) no-repeat center center / contain;
      width: 18rem;
      height: 6rem;
      display: block;
      margin: 2rem auto;
      transition: all 0.3s;

      &.thin {
        width: 12rem;
        height: 3rem;
        margin: 1rem auto;
      }
    }
  }

  &__search {
    position: absolute;
    right: 0;
  }
}


