.Header {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;
  width: 100%;
}

.Header__logo {
  position: relative;
}

.Header__logo .navbar-brand {
  background: url(../../images/grupo-leti.svg) no-repeat center center/contain;
  width: 18rem;
  height: 6rem;
  display: block;
  margin: 2rem auto;
  transition: all 0.3s;
}

.Header__logo .navbar-brand.thin {
  width: 15rem;
  height: 5rem;
  margin: 1rem auto;
}

.Header__welcome {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
}

.Header__welcome-span {
  font-weight: 600;
  color: #cd202f;
  display: inline-block;
  margin-left: 0.4rem;
}

.Header__welcome:before {
  content: '';
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background: url(../../images/triangulo-rojo.svg) no-repeat center center/contain;
  background-size: 40%;
  display: inline-block;
  margin-right: 1rem;
  transform: rotate(180deg);
  border: solid 0.2rem #cd202f;
}

.Header__logout, .Header__search {
  border: 0;
  width: 3rem;
  height: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.5rem;
}

.Header__search {
  background: url(../../images/search.svg) no-repeat center center/contain;
}

.Header__search:hover {
  cursor: pointer;
}

.Header__search-close {
  background: url(../../images/close.svg) no-repeat center center/contain;
}

.Header__logout {
  background: url(../../images/logout.svg) no-repeat center center/contain;
}

.Header__logout:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .Header {
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  }
  .Header__logo .navbar-brand {
    width: 12rem;
    height: 4rem;
  }
  .Header__logout {
    right: 2rem;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
  }
  .Header__search {
    width: 2.4rem;
    height: 2.4rem;
    right: 2rem;
    margin-top: -1rem;
  }
}
