.Header {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;
  width: 100%;
}

.Header__logo {
  position: relative;
}

.Header__logo .navbar-brand {
  background: url(../../images/leti.svg) no-repeat center center/contain;
  width: 18rem;
  height: 6rem;
  display: block;
  margin: 2rem auto;
  transition: all 0.3s;
}

.Header__logo .navbar-brand.thin {
  width: 12rem;
  height: 3rem;
  margin: 1rem auto;
}

.Header__search {
  background: url(../../images/search.svg) no-repeat center center/contain;
  border: 0;
  width: 3rem;
  height: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.5rem;
}

.Header__search:hover {
  cursor: pointer;
}

.Header__search-close {
  background: url(../../images/close.svg) no-repeat center center/contain;
}

@media (max-width: 576px) {
  .Header__search {
    width: 2.4rem;
    height: 2.4rem;
    right: 2rem;
    margin-top: -1rem;
  }
}
