.Header__logo {
  position: relative;
}

.Header__logo .navbar-brand {
  background: url(../../images/Leti.svg) no-repeat center center/contain;
  width: 18rem;
  height: 6rem;
  display: block;
  margin: 2rem auto;
}

.Header__search {
  position: absolute;
  right: 0;
}
