@import '../../../../../stylesheets/variables';

.Letilabs {
  .EditCarousel {
    &__edit {
      background: $leti-back;
      padding: 2rem;
      margin-bottom: 3rem;
      border: solid $leti-white 1rem;

      h4 {
        font-family: 'TripletaBold';
        font-size: 1.6rem;
      }
    }
  }
}
