@import '../../../stylesheets/variables';

.AdminFarVigPage {
  &__bg {
    background: url(../../../images/farmvig-bg.jpg) no-repeat right top /
      contain;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    border: 0;
    border: solid 0.1rem $leti-subnav;
    border-radius: 0;
    margin-bottom: 8rem;
    padding: 2rem;
    font-size: 1.6rem;
    border-bottom: solid 0.3rem $leti-blue;
    min-height: 30rem;

    .card-body {
      position: relative;
      padding-top: 3rem;
    }
  }

  &__date {
    font-size: 1.2rem;
    color: $leti-red;
    padding: 0 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: absolute;
    top: -1.5rem;
    left: 0;
  }

  &__delete {
    position: absolute;
    width: 6rem;
    height: 1.8rem;
    display: inline-block;
    background: $leti-white url(../../../images/trash.svg) no-repeat center
      center / contain;
    margin-left: 2rem;
    top: -3.2rem;
    right: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__medicine {
    font-family: 'TripletaBold';
    position: absolute;
    background: $leti-white;
    color: $leti-blue;
    top: -3.6rem;
    left: 0rem;
    padding: 0 0.8rem;
  }

  &__patient {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;

  }

  &__effects{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $leti-nav;
  }

  &__search {
    padding-left: 7rem;
    height: 6.4rem;
    font-size: 1.6rem;
    border-radius: 0;
    background: $leti-white url(../../../images/input-search.svg) no-repeat 2rem
      center / 3.2rem;
  }
}

@media (max-width: 576px) {
  .AdminFarVigPage {
    &__search {
      padding-left: 4rem;
      font-size: 1.4rem;
      border-radius: 0;
      background-size: 2.2rem;
      background-position-x: 1rem;
    }
  }
}
