@import '../../../stylesheets/variables';

.AdminProductPage {
  background: url(../../../images/cuidar-right-bg.svg) no-repeat right top;

  &__bg {
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search {
    padding-left: 7rem;
    height: 6.4rem;
    font-size: 1.6rem;
    border-radius: 0;
    background: $leti-white url(../../../images/input-search.svg) no-repeat 2rem
      center / 3.2rem;
  }

  &__card {
    margin-bottom: 3rem;
    border-radius: 0;
    border: solid 0.1rem $leti-blue;
    font-size: 1.6rem;
  }

  &__img-top {
    height: 18rem;
    width: fit-content;
    display: block;
    margin: auto;
  }

  &__img-bottom {
    height: 6rem;
    width: fit-content;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .card-title {
    font-family: 'TripletaBold';
    font-size: 1.2rem;
    color: $leti-red;
    padding-left: 1rem;
    margin-bottom: 0;
  }

  .card-footer {
    padding: 0;
    background: transparent;

    .leti-btn {
      width: 100%;
      border: 0;
      font-size: 1.6rem;
      padding: 1rem;
    }
  }

  .card-body {
    position: relative;
  }

  .alert-danger {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    margin-top: -3rem;
    z-index: 1;
    font-size: 1.6rem;
    text-align: center;
    margin-left: -25%;
  }
}
