@import '../../../../stylesheets/variables';
.BannerProductos {
  margin-top: 20rem;
  position: relative;

  &__title {
    margin-bottom: 13rem;
    text-align: right;
  }

  &__subtitle {
    margin-bottom: 30rem;
  }

  &__img {
    &-azitomicina,
    &-diklason,
    &-ulgarin {
      position: absolute;
    }

    &-azitomicina {
      bottom: 0;
      left: 28rem;
      transform: rotate(0deg);
    }

    &-diklason {
      transform: rotate(12deg);
      bottom: 10%;
      right: 8%;
    }

    &-ulgarin {
      transform: rotate(22deg);
      left: 10rem;
    }
  }
}

@media (max-width: 576px) {
  .BannerProductos {
    margin: 10rem auto 0rem auto;

    &__title {
      margin-bottom: 20rem;
      text-align: right;
    }
    
    &__subtitle {
      margin-bottom: 30rem;
    }
  
    &__img {
      &-azitomicina {
        width: 80%;
        bottom: 10rem;
        left: -25%;
      }
  
      &-diklason {
        width: 50%;
        bottom: 4rem;
        right: -2rem;
      }
  
      &-ulgarin {
        top: 20rem;
        left: 4%;
        width: 25rem;
      }
    }
  }
}
