@import '../../../../stylesheets/variables';

.List {
  position: relative;

  &__to-top {
    height: 8rem;
    width: 8rem;
    background: url(../../../../images/to-top.png) no-repeat center center /
      contain;
    position: absolute;
    right: -1rem;
    bottom: 3rem;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  &__sku {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $leti-subnav;
    margin-bottom: 2rem;
    height: 14rem;
  }

  .inactive {
    opacity: 0.3;
  }

  .link {
    &.active {
      color: $leti-red;
      text-decoration: underline;
      pointer-events: none;
    }

    &:hover {
      color: $leti-red;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__products {
    margin: 6rem auto 12rem auto;

    h1 {
      margin-bottom: 6rem;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    li {
      list-style: none;
    }
  }

  &__card {
    font-size: 1.8rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border: solid 2.4rem $leti-white;
    border-bottom: solid 0.1rem $leti-subnav;

    .leti-btn {
      margin-top: 2rem;
    }
  }

  &__name {
    color: $leti-blue;
  }

  &__composition {
    display: block;
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .List {
    &__products {
      h1 {
        margin-bottom: 1rem;
      }
    }

    &__align {
      justify-content: center;
    }

    .link,
    .inactive {
      margin: 1rem;
    }

    &__to-top {
      bottom: -8rem;
    }
  }
}
