.EditItemModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditItemModal__img-small {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.EditItemModal__img-small img {
  width: 30%;
  margin-bottom: 2rem;
}

.EditItemModal__text {
  margin: 0;
}

.EditItemModal__text strong {
  color: #055aa5;
}

.EditItemModal__body {
  font-size: 1.6rem;
}

.EditItemModal .card {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
  border-top: solid 0.1rem #e9eaee;
}

.EditItemModal .card .leti-btn {
  margin-top: 0;
  padding: 0.8rem 1.6rem;
}

.EditItemModal .card .leti-btn.small {
  margin-top: 2rem;
}

.EditItemModal__ask {
  margin-bottom: 2rem;
}

.EditItemModal__container {
  background: #fff;
  padding: 2rem 4rem;
  font-size: 2rem;
  position: relative;
  overflow: scroll;
  height: auto;
  padding-top: 4rem;
}

.EditItemModal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: solid 0.1rem #055aa5;
  background: url("../../../../../../images/close.svg") no-repeat center/contain;
  background-size: 50%;
}

.EditItemModal__close:hover {
  border: solid 0.3rem #055aa5;
}
