@import '../../../../stylesheets/variables';

.FindProductList {
  min-height: 16rem;
  display: flex;
  align-items: center;

  form {
    padding: 0;
  }

  &__row {
    justify-content: center;
  }

  &__form {
    display: flex;
    align-items: center;
    height: 7.6rem;

    .DropdownWithLabel {
      .form-control {
        &.category {
          background: url(../../../../images/dropdown-icon.svg) no-repeat 2rem
            center;
          padding-left: 6rem;
          height: 7.6rem;
          border-radius: 0;
          margin: 0;
          border: none;
          border-top: solid 0.1rem $leti-nav;
          border-bottom: solid 0.1rem $leti-nav;
        }

        &.product {
          padding-left: 2rem;
          border-left: solid 0.1rem $leti-nav;
          background: url(../../../../images/inputwithlabel.svg) no-repeat right
            center;
            border-right: none;
            height: 7.6rem;
        }
      }
    }

    .form-group {
      margin: 0 !important;
    }

    .leti-btn {
      background: url(../../../../images/search.svg) no-repeat center / 4rem;
      height: 7.6rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        border-width: 0.3rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .FindProductList {
    background: url(../../../../images/find-product-bg.png) no-repeat left 4rem /
      30%;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 58rem;

    h1 {
      margin: 11rem 0 20rem 11rem;
    }

    &__form {
      .input-group {
        border: solid 0.1rem $leti-nav;
        border-bottom: 0;
      }
      .DropdownWithLabel {
        .form-control {
          &.category {
            background: url(../../../../images/dropdown-icon.svg) no-repeat 2rem
              center;
            padding-left: 6rem;
          }
        }
      }

      .form-group {
        .form-control {
          &.category {
            height: 6.2rem;
            border: 0;

            &.InputWithLabel {
              background: url(../../../../images/dropdown-resp-bottom.svg)
                no-repeat center bottom;
              border: 0;
            }
          }
        }
      }

      .leti-btn {
        background: none;
        height: 6.2rem;
        width: 100.5%;

        &:before {
          content: 'Buscar el producto';
          font-size: 1.8rem;
        }

        &:hover {
          background: blue;
        }
      }
    }
  }
}
