@import '../../../../stylesheets/variables';

.AdminEditPage {
  &__Nav {
    padding: 0;
    position: relative;

    &-link {
      font-size: 1.4rem;
      border-bottom: solid 0.1rem $leti-subnav;
      padding: 1rem 2rem;
      list-style: none;
      color: $leti-nav;

      &:hover {
        cursor: pointer;
        color: $leti-blue;
        border-right: solid 0.3rem $leti-blue;
      }

      &.active,
      &.currentActive {
        color: $leti-blue;
        font-weight: 600;
        border-right: solid 0.3rem $leti-blue;
        pointer-events: none;
      }

      &.api {
        color: $leti-white;
        background: $leti-blue;

        &:hover {
          background: $leti-red;
          border-right: solid 0.3rem $leti-red;
        }
      }

      &-subnav {
        padding-left: 4rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .AdminEditPage {
    &__adminmenu {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      text-align: right;
      color: $leti-red;
      position: relative;
      padding-right: 4rem;

      &:after {
        content: '';
        top: 1.6rem;
        right: 1.8rem;
        width: 1.8rem;
        height:1.8rem;
        position: absolute;
        display: block;
        background: url(../../../../images/next-arrow-red.svg) no-repeat center center / contain;
      }

      &-active {
        &:after {
          background: url(../../../../images/close-red.svg) no-repeat center center / contain;
        }
      }
    }

    &__Nav {
      position: absolute;
      width: 100%;
      z-index: 3;
      background: $leti-white;
      left: -100%;
      transition: all 0.3s ease-in-out;
      border-top: solid 0.1rem $leti-subnav;

      &-active {
        left: 0;
      }
    }
  }
}
