@import '../../stylesheets/variables';

.Footer {
  background: $leti-back;
  padding: 8rem 0;
  font-size: 1.8rem;

  &__logo {
    background: url(../../images/grupo-leti.svg) no-repeat left center / contain;
    height: 7rem;
  }

  &__info {
    padding-top: 3rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      a {
        color: $leti-nav;
        text-decoration: none;

        &:hover {
          color: $leti-red;
        }
      }
    }
  }

  &__copy {
    background: $leti-text;
    color: $leti-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.8rem;
  }

  &__rrss {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    &.facebook {
      background: url(../../images/facebook.svg) no-repeat center center / cover;
    }

    &.instagram {
      background: url(../../images/instagram.svg) no-repeat center center /
        cover;
    }

    &.linkedin {
      background: url(../../images/linkedin.svg) no-repeat center center / cover;
    }
  }
}

@media (max-width: 576px) {
  .Footer {
    padding: 4rem 0;
    font-size: 1.6rem;

    &__logo {
      margin-left: 2rem;
    }

    &__nav {
      margin-top: 3rem;
      font-size: 1.4rem;
      border-top: solid 0.1rem rgba($leti-text, 0.1);
      padding-top: 3rem;
    }

    &__icon {
      margin-right: 2rem;
      width: 2.5rem;
    }
  }
}
