@import '../../../../stylesheets/variables';

.Portafolio {
  background: $leti-back;
  padding: 15rem 0 12rem 0;
  overflow: visible;

  &__item {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: $leti-text;
    margin-right: 4rem;

    strong {
      color: $leti-blue;
    }
  }

  &__triangles {
    position: relative;

    .big-red-triangle {
      position: absolute;
      width: 140rem;
      height: 100rem;
      background: url(../../../../images/triangulo-rojo.svg) no-repeat left
        center / contain;
      top: 50%;
      margin-top: -50rem;
      left: 18rem;
      color: $leti-white;
      display: flex;
      align-items: center;
      padding-left: 8rem;
      padding-right: 96rem;
      padding-top: 10rem;
      transform: rotate(0);

      h1 {
        font-size: 3.8rem;
      }
    }

    .big-blue-triangle {
      position: absolute;
      width: 100rem;
      height: 90rem;
      background: url(../../../../images/triangulo-azul.svg) no-repeat center
        center / contain;
      top: -30rem;
      right: -60rem;
      transform: rotate(0);
    }
  }
}

@media (max-width: 576px) {
  .Portafolio {
    padding: 26rem 0 0rem 0;
    margin-top: 20rem;

    .row {
      justify-content: center;
    }

    h2 {
      font-size: 2.2rem;
    }

    &__item {
      font-size: 1.6rem;
      margin-left: 6rem;
    }

    &__triangles {
      .big-red-triangle {
        width: 70rem;
        height: 50rem;
        top: -60rem;
        right: -35rem;
        padding-left: 6rem;
        padding-right: 36rem;
        padding-top: 6rem;
        z-index: 1;

        h1 {
          font-size: 3rem;
        }
      }

      .big-blue-triangle {
        width: 50rem;
        height: 25rem;
        top: -96rem;
        right: 8rem;
        z-index: 0;
      }
    }
  }
}
