.BottomCta__talento, .BottomCta__megat {
  min-height: 50rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-family: 'TripletaBold';
  line-height: 3.8rem;
  padding: 0 14rem;
}

.BottomCta__talento {
  background: url(../../../../images/talento.jpg) no-repeat center center/cover;
}

.BottomCta__megat {
  background: url(../../../../images/megat.jpg) no-repeat left center/cover;
}

@media (max-width: 576px) {
  .BottomCta__talento, .BottomCta__megat {
    font-size: 2.2rem;
    min-height: 30rem;
    padding: 0 2rem;
  }
}
