@import '../../../../stylesheets/variables';

.BottomCta {
  &__talento,
  &__megat {
    min-height: 50rem;
    color: $leti-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'TripletaBold';
    line-height: 3.8rem;
    padding: 0 14rem;
  }

  &__talento {
    background: url(../../../../images/talento.jpg) no-repeat center center /
      cover;
  }

  &__megat {
    background: url(../../../../images/megat.jpg) no-repeat left center / cover;
  }
}

@media (max-width: 576px) {
  .BottomCta {
    &__talento,
    &__megat {
      font-size: 2.2rem;
      min-height: 30rem;
      padding: 0 2rem;
    }
  }
}
