@import '../../../../stylesheets/variables';

.BottomCta {
  &__title {
    color: $leti-white;
    position: absolute;
    display: block;
    width: 70%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -35%;
    margin-top: -5rem;

    .leti-btn {
      background: transparent;
      color: $leti-white;
      border-color: $leti-white;
      margin-top: 1rem;
      opacity: 0.5;
    }
  }

  &__img {
    overflow: hidden;
    position: relative;

    &:hover {
      cursor: pointer;

      .leti-btn {
        opacity: 1;
      }

      .BottomCta__talento,
      .BottomCta__megat {
        transform: scale(1.2);
      }
    }
  }

  &__talento,
  &__megat {
    width: auto;
    height: 50rem;
    transition: all 0.2s ease-in-out;
  }

  &__talento {
    background: url(../../../../images/talento.jpg) no-repeat center / cover;
  }

  &__megat {
    background: url(../../../../images/megat.jpg) no-repeat left top / cover;
  }
}

@media (max-width: 576px) {
  .BottomCta {
    &__talento,
    &__megat {
      font-size: 2.2rem;
      min-height: 30rem;
      padding: 0 2rem;
    }
  }
}
