.BottomCta__title {
  color: #fff;
  position: absolute;
  display: block;
  width: 70%;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -5rem;
}

.BottomCta__title .leti-btn {
  background: transparent;
  color: #fff;
  border-color: #fff;
  margin-top: 1rem;
  opacity: 0.5;
}

.BottomCta__img {
  overflow: hidden;
  position: relative;
}

.BottomCta__img:hover {
  cursor: pointer;
}

.BottomCta__img:hover .leti-btn {
  opacity: 1;
}

.BottomCta__img:hover .BottomCta__talento,
.BottomCta__img:hover .BottomCta__megat {
  transform: scale(1.2);
}

.BottomCta__talento, .BottomCta__megat {
  width: auto;
  height: 50rem;
  transition: all 0.2s ease-in-out;
}

.BottomCta__talento {
  background: url(../../../../images/talento.jpg) no-repeat center/cover;
}

.BottomCta__megat {
  background: url(../../../../images/megat.jpg) no-repeat left top/cover;
}

@media (max-width: 576px) {
  .BottomCta__talento, .BottomCta__megat {
    font-size: 2.2rem;
    min-height: 30rem;
    padding: 0 2rem;
  }
}
