.FindNews {
  display: flex;
  align-items: center;
  margin: 6rem auto 4rem auto;
}

.FindNews .card {
  margin-bottom: 6rem;
  padding: 0;
}

.FindNews form {
  padding: 0;
}

.FindNews__row {
  justify-content: center;
}

.FindNews__form-input {
  border-radius: 0;
  border: solid 0.1rem #4a4a4a;
  font-size: 2.8rem;
  padding: 2rem;
  width: 100%;
  height: 7.6rem;
}

.FindNews__form {
  display: flex;
  align-items: center;
  height: 7.6rem;
  position: relative;
}

.FindNews__form .form-group {
  margin: 0 !important;
}

.FindNews__form .leti-btn {
  background: url(../../../../images/search.svg) no-repeat center/4rem;
  height: 7.6rem;
  transition: all 0.1s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
}

.FindNews__form .leti-btn:hover {
  border-width: 0.3rem;
}

.FindNews__noResults {
  margin-bottom: 6rem;
}

.FindNews__noResults p:first-child {
  margin-bottom: 3rem;
}

@media (max-width: 576px) {
  .FindNews {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
  }
  .FindNews__form-input {
    font-size: 1.6rem;
  }
  .FindNews .leti-btn {
    display: none;
  }
  .FindNews__noResults {
    padding: 0 2rem;
    font-size: 1.6rem;
  }
  .FindNews .card-body {
    padding: 2rem;
  }
  .FindNews .card-footer {
    padding: 0 2rem;
  }
  .FindNews .card-footer .leti-btn {
    display: block;
  }
}
