.EditContent-timeline {
  padding-top: 6rem;
}

.EditContent-timeline img {
  width: 100%;
  height: auto;
  position: relative;
}

.EditContent-timeline p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.EditCarousel__edit {
  position: relative;
}

.EditCarousel__edit:before {
  content: '';
  width: 3rem;
  height: 3rem;
  display: block;
  background: url(../../../../../images/edit.svg) no-repeat center center/2rem;
  position: absolute;
  right: -3rem;
  top: -2rem;
}

.EditCarousel__edit:hover {
  cursor: pointer;
  opacity: .8;
}
