@import '../../../../../stylesheets/variables';

.EditContent {
  &-timeline {
    padding-top: 6rem;
    img {
      width: 100%;
      height: auto;
      position: relative;
    }

    p {
      margin-top: 1rem;
      font-size: 1.4rem;
      color: $leti-nav;
    }
  }
}

.EditCarousel {
  &__edit {
    position: relative;

    &:before {
      content: '';
      width: 3rem;
      height: 3rem;
      display: block;
      background: url(../../../../../images/edit.svg) no-repeat center center /
        2rem;
      position: absolute;
      right: -3rem;
      top: -2rem;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &.logros {
      border: solid 0.1rem $leti-subnav;
      margin: 0 0.5rem 2rem 0.5rem;
      background: transparent;

      &:before {
        right: 1rem;
        top: -2rem;
        background: $leti-white url(../../../../../images/edit.svg) no-repeat
          center center / 2rem;
        z-index: 1;
      }

      img {
        margin-top: 2rem;
      }

      h4 {
        font-family: 'TripletaBold';
      }
    }

    &-force {
      &:before {
        right: 0rem;
        z-index: 1;
      }
    }
  }
}
