@import '../../../../stylesheets/variables';

.MarcandoPauta {
  background: $leti-back;

  &__text {
    display: flex;
    align-items: center;
    height: 68rem;
  }

  &__bg {
    background: url(../../../../images/marcando-pauta.png) no-repeat center
      center / contain;
  }
}

@media (max-width: 576px) {
  .MarcandoPauta {
    &__text {
      height: 30rem;
      font-size: 2rem;
    }

    &__bg {
      background-position: top;
      height: 50rem;
    }
  }
}
