@import '../../../../stylesheets/variables';

.MarcandoPauta {
  background: $leti-back;

  &__text {
    display: flex;
    align-items: center;
    height: 80rem;
    font-size: 3rem;
    line-height: 4.4rem;
  }
}

@media (max-width: 576px) {
  .MarcandoPauta {
    &__text {
      margin-top: 3rem;
      height: 30rem;
      font-size: 2rem;
    }

    &__bg {
      background-position: top;
      height: 50rem;
    }
  }
}
