.MarcandoPauta {
  background: #f5f5f5;
}

.MarcandoPauta__text {
  display: flex;
  align-items: center;
  height: 68rem;
}

.MarcandoPauta__bg {
  background: url(../../../../images/marcando-pauta.png) no-repeat center bottom/cover;
}

@media (max-width: 576px) {
  .MarcandoPauta__text {
    height: 30rem;
    font-size: 2rem;
  }
  .MarcandoPauta__bg {
    background-position: top;
    height: 50rem;
  }
}
