.Nav__nav {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  color: #737b7f;
  font-size: 1.6rem;
  line-height: 2rem;
}

.Nav .navbar-nav {
  display: flex;
  align-items: center;
}

.Nav .nav-link {
  margin: 0 2rem;
  text-align: center;
}

@media (max-width: 576px) {
  .Nav {
    position: absolute;
    top: 3rem;
    left: 2rem;
    transition: all 0.3s;
  }
  .Nav__nav {
    display: unset;
    top: 7rem;
    position: absolute;
    left: -2rem;
    width: 576px;
    background: #fff;
  }
  .Nav.thin {
    top: 1rem;
  }
  .Nav .navbar-toggler {
    border: 0;
    outline: unset;
  }
  .Nav .navbar-toggler:focus {
    outline: none;
    border: 0;
  }
  .Nav .navbar-toggler .navbar-toggler-icon {
    background-image: url(../../images/toggler.svg);
  }
  .Nav .navbar-nav {
    padding-bottom: 2rem;
    align-items: flex-start;
  }
}
