@import '../../stylesheets/variables';

.Nav {
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: $leti-nav;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    margin: 0 2rem;
    text-align: center;
    border-bottom: solid 0.3rem transparent;

    &:hover {
      border-bottom: solid 0.3rem $leti-blue;
    }
  }

  &__sub-nav {
    background: $leti-subnav;
    position: absolute;
    top: -0.4rem;
    padding: 4rem;
    font-size: 1.6rem;
    display: block;

    h3 {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }

    p {
      margin-bottom: 3rem;
      padding-right: 3rem;
    }

    a {
      color: $leti-blue;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    &-cta {
      &:after {
        content: '';
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        margin-top: 0.4rem;
        background: url(../../images/sub-nav-arrow.svg) no-repeat center center /
          contain;
        margin-left: 0.8rem;
        transition: all 200ms ease-in-out;
      }

      &:hover {
        &:after {
          margin-left: 1.6rem;
        }
      }
    }

    &-info {
      border-right: solid 0.1rem $leti-text;
    }

    &-anchors {
      padding-left: 3rem;

      a {
        &:hover {
          color: $leti-red;
        }
      }
    }
  }

  &__admin {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .Nav {
    position: absolute;
    top: 3rem;
    left: 2rem;
    transition: all 0.3s;

    &__nav {
      display: unset;
      top: 5rem;
      position: absolute;
      left: -2rem;
      width: 576px;
      background: $leti-white;
    }

    &.thin {
      top: 2rem;
      .navbar-toggler {
        margin-top: 0;
      }
    }

    .navbar-toggler {
      border: 0;
      outline: unset;
      margin-left: -2rem;

      &:focus {
        outline: none;
        border: 0;
      }

      .navbar-toggler-icon {
        background-image: url(../../images/toggler.svg);
      }
    }

    .navbar-nav {
      align-items: flex-start;
      background: $leti-subnav;
      height: 92vh;
      display: flex;
      justify-content: space-around;
      padding-bottom: 12rem;
      padding-top: 2rem;

      a {
        color: $leti-blue !important;
        display: inline-flex;
        position: relative;
        width: 58%;

        &:after {
          position: absolute;
          content: '';
          width: 0.8rem;
          height: 0.8rem;
          margin-top: 0.7rem;
          background: url(../../images/sub-nav-arrow.svg) no-repeat 0 center /
            contain;
          right: 0;
        }
      }
    }

    &__sub-nav {
      width: 576px !important;
      left: -2rem !important;
      height: 92vh;
      top: 5rem !important;
      padding: 0;

      .row {
        justify-content: center;
      }

      &-device {
        display: flex;
        align-items: center;

        &:before {
          content: '';
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0.8rem;
          background: url(../../images/back-arrow.svg) no-repeat 0 center /
            contain;
        }
      }

      &-info {
        padding: 0.8rem 4rem 4rem 4rem;
        border-right: 0;
        border-bottom: solid 0.1rem $leti-text;

        p {
          padding-right: 19rem;
        }
      }

      &-anchors {
        padding-top: 3rem;
        padding-left: 4rem;
      }
    }

    &__welcome {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      position: absolute;
      padding-top: 1.6rem;
      top: 0;
      left: 0rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
      border-bottom: solid 0.1rem $leti-nav;
      border-top: solid 0.1rem $leti-nav;
      background-color: $leti-white;
      width: 100%;
      margin-top: 0rem;

      &-span {
        font-weight: 600;
        color: $leti-red;
        display: inline-block;
        margin-left: 0.4rem;
      }

      &:before {
        content: '';
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        background: url(../../images/triangulo-rojo.svg) no-repeat center center /
          contain;
        background-size: 40%;
        display: inline-block;
        margin-right: 1rem;
        transform: rotate(180deg);
        border: solid 0.2rem $leti-red;
      }
    }

    &__logout {
      background: url(../../images/logout.svg) no-repeat center center / contain;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 57%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
