@import '../../stylesheets/variables';
.Nav {
  &__nav {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: $leti-nav;
    font-size: 1.6rem;
  }

  .nav-link {
    margin: 0 3rem;
  }
}

@media (max-width: 576px) {
  .Nav {
    &__nav {
      display: unset;
    }
  }
}
