@import '../../../../../stylesheets/variables';

.EditContent {
  border: solid 0.1rem $leti-subnav;
  margin: 4rem 0;
  padding: 3rem 2.4rem;
  position: relative;

  h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    position: absolute;
    top: -1.4rem;
    left: 1rem;
    background: $leti-white;
    padding: 0rem 1rem;
    color: $leti-blue;
    font-size: 2rem;
  }
}

.AdminEdit {
  &__form {
    &__label {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    &-leti-btn {
      background: transparent;
      padding: 1.4rem 3.2rem;
    }

    .tox-tinymce {
      border: 1px solid $leti-nav;
    }

    .tox .tox-statusbar {
      display: none;
    }

    .form-group {
      margin-top: 0;

      .form-control {
        height: 5.5rem;
        border-radius: 0;
        border-color: $leti-nav;
        margin-bottom: 5rem;
      }
    }
  }
}
