@import '../../../../stylesheets/variables';
.Banner {
  &__OurPeople {
    background: #fbfbfb;
    position: relative;
    overflow: hidden;

    &__title {
      height: 70rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 5.4rem;
        margin-bottom: 4rem;
      }
    }

    &__bg {
      [class*='css-'] {
        height: 90rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: flex-end;

        img {
          height: 70%;
        }
      }
    }

    .leti-red-triangle,
    .leti-blue-triangle {
      position: absolute;
      z-index: 0;
      transform: rotate(0);
    }

    .leti-red-triangle {
      background: url(../../../../images/triangulo-rojo-stroke.svg) no-repeat
        center center / contain;
      width: 75rem;
      height: 75rem;
      right: -8rem;
      top: 0rem;
    }

    .leti-blue-triangle {
      background: url(../../../../images/triangulo-azul-stroke.svg) no-repeat
        center center / contain;
      width: 55rem;
      height: 55rem;
      right: 5rem;
      top: 15rem;
    }
  }
}

@media (max-width: 576px) {
  .Banner {
    &__OurPeople {
      &__title {
        height: 90rem;
        align-items: flex-start;
        justify-content: flex-start;

        h1 {
          margin-top: 3rem;
          font-size: 3.2rem;
        }
        p {
          font-size: 2rem;
        }
      }

      &__bg {
        [class*='css-'] {
          right: 10%;

          img {
            height: 45%;
          }
        }
      }

      .leti-red-triangle {
        width: 35rem;
        height: 35rem;
        right: -5%;
        top: 55%;
      }

      .leti-blue-triangle {
        width: 35rem;
        height: 35rem;
        right: -25%;
        top: 65%;
      }
    }
  }
}
