@import '../../../../stylesheets/variables';

.Gallery {
  background: #e9eaee;
  padding: 10rem;
  position: relative;

  &__image {
    position: absolute;
    top: 20rem;
    right: 0;
    height: 60rem;
  }

  &__desc {
    position: absolute;
    color: $leti-white;
    background: rgba($leti-blue, 0.98);
    font-size: 1.8rem;
    padding: 2rem 0rem 2.6rem 7rem;
    bottom: -10rem;
    left: -4rem;
    right: 10%;
  }

  &__nav {
    position: relative;
    padding: 4rem 4rem 0 0;
    ul {
      list-style: none;

      li {
        cursor: pointer;
        margin: 2rem 0;

        &:hover,
        &.active {
          color: $leti-red;
        }

        &.active {
          font-weight: 600;
        }
      }
    }
    text-align: right;
  }
}

@media (max-width: 576px) {
  .Gallery {
    padding: 0;

    h1 {
      padding: 4rem 4rem 4rem 3rem;
      margin: 0;
    }

    &__desc {
      font-size: 1.2rem;
      padding: 2rem 2rem 2.6rem 7rem;
      bottom: -4rem;
      line-height: 2rem;
    }

    &__image {
      position: static;
      top: 20rem;
      right: 0;
      height: 30rem;
    }

    &__nav {
      text-align: left;
      font-size: 1.8rem;
      ul {
        li {
          margin: 1rem 0;
        }
      }
    }
  }
}
